body {
  background-color: var(--color-primary);
  background-image: linear-gradient(90deg, var(--color-primary) 30%, var(--color-secondary));
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px 0;
}

.auth-logo {
  width: 150px;
  height: 150px;
  padding: 12px;
  margin-bottom: 24px;
  background-color: rgba(255, 255, 255, .7);
  border-radius: 50%;
}

.card {
  width: 320px;
  padding: 24px 16px 48px 16px;
  position: relative;
}

.flash {
  color: var(--color-red);
  text-align: center;
}

.auth-switch {
  display: flex;
  justify-content: center;
  padding: 12px 0;
}

.auth-switch:hover span {
  text-decoration: underline;
}

.input-wrap .error {
  font-size: 0.7rem;
  margin: 4px 0;
}

.input-wrap .error[state="1"] {
  color: var(--color-red);
}

.input-wrap .error[state="1"]::before {
  content: "*";
}

.input-wrap .error[state="0"] {
  color: var(--color-green);
}

.input-wrap .error[state="0"]::before {
  content: "✓";
}