doctype
html(dir=(locale == "ar") ? "rtl" : "ltr", lang=locale)
  head
    link(rel='stylesheet', href='/file/bower_components/mdi/css/materialdesignicons.min.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Tajawal|Ubuntu')
    link(rel='stylesheet', href='/file/css/style.css')
    link(rel="stylesheet", href="/auth/file/css/style.css")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="robots" content="noindex")
    meta(charset='utf-8')
    title= __('appname') + ": " + __(type)
  body
      img.auth-logo(src="/file/img/logo.png")
      form#auth_form.form(action=`/auth/${type}` method="post")
        .card
          if flash
            .flash
              span= __(flash)
          .txt-title.txt-hint= __(type)
          block form
          button.btn-raised.btn-accent
            span= __(type)
          a.auth-switch(href="/auth/" + (type == "login" ? "register" : ""))
            span.txt-accent= __(`auth switch ${type}`)
