block form
  .form-section
    .input-wrap
      input(id="email", name="email", type="email", placeholder=" ")
      label(for="email")= __("email")
    .input-wrap
      input(id="password", name="password", type="password", placeholder=" ")
      label(for="password")= __("password")