block form
  .form-section
    .input-wrap
      #error-NMR.error(state="1")= __("error NMR")
      input(id="name", name="name", type="text", placeholder=" ")
      label(for="name")= __("name")
    .input-wrap
      input(id="email", name="email", type="email", placeholder=" ")
      label(for="email")= __("email")
    .input-wrap
      #error-PWL.error(state="1")= __("error PWL")
      input(id="password", name="password", type="password", placeholder=" ")
      label(for="password")= __("password")
    .input-wrap
      #error-MPW.error(state="1")= __("error MPW")
      input(id="confirm_password", name="confirm_password", type="password", placeholder=" ")
      label(for="confirm_password")= __("confirm password")
    script(src="/auth/file/js/register.js")